/* src/components/ItemDetailContainer/itemDetailContainer.css */

.item-detail-container {
  padding: 20px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
}

.item-detail {
  display: flex;
  align-items: flex-start;
  background-color: #333; /* Fondo más oscuro para los ítems del contenedor */
  border: 1px solid #555; /* Borde ligero para separación */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.item-detail .image {
  margin-right: 20px;
  flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.item-detail .image img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}

.item-detail .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.item-detail .detail h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #fff; 
}

.item-detail .detail p {
  margin: 5px 0;
  font-size: 1em;
  color: #ccc;
}

.item-detail .detail .add {
  margin-top: 20px;
  background-color: #ea00ff; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.item-detail .detail .add:hover {
  background-color: #8f0c91;
}