.checkout {
  padding: 20px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  max-width: 600px;
  margin: 100px auto;
}

.order-completed {
  text-align: center;
  color: #fff;
}

.order-completed h2 {
  font-size: 1.8em;
  color: #3acf18;
}

.order-completed p {
  margin: 15px 0;
  font-size: 1.2em;
  color: #ccc;
}

.button-return {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d400ff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.button-return:hover {
  background-color: #8000b3; 
  color: #fff; 
}