/* src/components/Checkout/FormularioCheckout.css */

.form-checkout {
    background-color: #080c86;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-checkout label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-checkout input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button-form {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
  }
  
  .button-form:hover {
    background-color: #0056b3;
  }