.navbar {
    width: 100%;
    height: 145px;
    background-color: blueviolet;
    display: flex;
}

.logosweet {
    width: 144px;
    height: 144px;
}

.categoria {
    color: black;
     border-color: beige;
     flex-direction: column;
     
     margin-inline: 40px;
     margin-top: 70px;
     text-decoration: none;
}